<?xml version="1.0" ?>
<model>
  <name>dringking_cup</name>
  <version>1.0</version>
  <sdf version="1.7">model.sdf</sdf>
  <description>
    A cup
  </description>
  <author>
    <name>Cup</name>
    <email>cup@cup.cup</email>
  </author>
  <license>http://www.apache.org/licenses/LICENSE-2.0</license>
  <category>Other</category>
  <tags>Cup, Gazebo</tags>
</model>
